@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
    font-family: 'Rubik', sans-serif;
}

.main-container {
    background-color: #f5f6fa;
}

.colors {
    background-color: #5457b6;
    background-color: #ed6468;
    background-color: #c3c4ef;
    background-color: #ffb8bb;
    background-color: #324152;
    background-color: #67727e;
    background-color: #eaecf1;
    background-color: #f5f6fa;
    background-color: #ffffff;
}